@using VendorOrder.Models;

@{
  Layout = "_Layout";
}

<h1>Vender Orders</h1>
<h3>Here are all the orders for this vendor:</h3>

@if (@Model["vendor"].Orders.Count == 0 )
{
  <h4>There is no order from this vendor</h4> 
}

<ol>
  @foreach (Order order in @Model["orders"])
  {
    <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title, @order.Date</a></li>
  }
</ol>

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></p>
<p><a href='/vendors'>Return to vendor list</a></p>
<p><a href='/'>Return Home</a></p>

<form action='/vendors/@Model["vendor"].Id' method="post">
    <button type="submit" class="btn btn-outline-success">Delete this Vendor</button>
  </form>
